.companies-container {
     text-align: center;
     padding: 2rem;
     height:490px;
     width:1920px;
     background-color: #f9f8fc;
     overflow: hidden;
     
   }
   .companies-container h2{
     margin-top: 2rem;     
     font-size:50px;
     font-family:monda;
     font-weight:600;
     text-align: center;
     align-items: center;
   }
   
   /* Marquee wrapper for grid */
.marquee-grid {
  width: 100%;
  overflow: hidden;
  display: block;
}

   .companies-grid {
     display: grid;
     grid-template-columns: repeat(18, 1fr); /* 6 columns */
     grid-template-rows: repeat(2, auto); /* 2 rows */
     gap: 1rem; /* Adds space between the company logos */
     justify-items: center; /* Centers the logos horizontally */
     align-items: center; /* Centers the logos vertically */
     padding: 2rem; /* Adds padding around the grid */
     margin: 1.5rem 5rem;
     animation: scrollGrid 20s linear infinite; 
   }
   
   .company-card {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 234px;
     height: 99px;
     border: 1px solid #e0e0e0;
     padding: 1rem;
     border-radius: 2px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
     background-color: #fff;
     cursor: pointer;
     transition: transform 0.1s;
   }
   .company-card:hover {
     transform: scale(1.05);
   }
   
   .company-card img {
     max-width: 100%;
     max-height: 100%;
   }
   
   @keyframes scrollGrid{
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* End at the left */
    }
  }