.headerCls {
  width:100%;
  border:0.1px solid rgba(239, 238, 238, 0.858);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

/* Navbar styling */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: white;
  /* box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2); */
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: auto;
}

/* Navigation links styling */
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: medium;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Hover effect */
.nav-links a:hover {
  color: #007bff;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }

  .logo-img {
    height: 50px;
  }
}

/* Mobile view */
@media (max-width: 576px) {
  .nav-links {
    gap: 0.5rem;
  }

  .logo-img {
    height: 40px;
  }
}
