.App {
  width: 100%; /* Make it flexible to fit all devices */
  height: 100%;
  /* border: 2px solid black; */
  font-family: sans-serif;
  text-align: center;
  padding: 0; /* Reset default padding */
}

*{
margin: 0;
}



/* 
  Mobile devices (up to 576px) 
  @media (min-width: 576px) {
    .App {
      padding: 5px;
    }
  }

  Tablet devices (up to 768px) 
  @media (min-width: 768px) {
    .App {
      padding: 10px;
    }
  }

  Medium-sized devices (up to 992px) 
  @media (min-width: 992px) {
    .App {
      padding: 15px;
    }
  }

  Large devices (up to 1200px) 
  @media (min-width: 1200px) {
    .App {
      padding: 20px;
    }
  }
*/
  @media (min-width: 1400px) {
    .App {
  width:1920;
  height: 978;
    }
  }



